/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

/* #map {
  height: 100%;
} */
var{
  display: none;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #262626;
}

/* Color of the navbar BEFORE scroll */
.navbar-scroll {
  background-color: #FFC017;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #262626;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: auto;
  padding-bottom: auto;
}
.navbar-brand {
  font-size: unset;
  height: 3.5rem;
}

.done, .wait, .in_work{
    color: #fff;
    font-size: 16px;
    padding: 5px 15px;

}

.done{
    background-color: #46BFBD;
}

.wait{
    background-color: #F7464A;
}

.in_work{
    background-color: #FDB45C;
}

.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #262626;
}

/* Color of the navbar BEFORE scroll */
.navbar-scroll {
  background-color: #FFC017;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #262626;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: auto;
  padding-bottom: auto;
}
.navbar-brand {
  font-size: 20px;
  height: 2rem;
}

.header_menu > li > .nav-link:hover, .navbar-brand:hover{
    color: #6c757d !important;
}

.header_menu > li > .nav-link:hover > .icon-svg{
    display: block;
}
.header_menu > li > .nav-link:hover > .icon-svg_white{
    display: none;
}

.nav-link._logout{
  background: inherit;
  border: none;
}


.icon-svg_white{
    height: 20px;
    width: 20px;
    display: block;
}
.icon-svg{
    height: 20px;
    width: 20px;
    display: none;
}

.form-signin{
  max-width: 500px;
  margin-top: 100px;
  padding: 40px;
}

.form-floating{
  margin: 20px 0px;
}


.map-page__wrapper{
  height: 100%;
}

.map-page__map{
  width: 70%;
}
.map-page__info {
  margin-left: 40px;
  margin-top: 40px;
}

