<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Road detection map</title>
    <script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css" th:href="@{/style.css}"/>
    <style type="text/css"> </style>
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9HdzDuOWqmlv-nc3A8MIxKeglFhAT4Tg&amp;callback=initMap&amp;v=weekly"
            async="async"
    ></script>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand align-self-center" href="/">Map detection</i></a>

        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left links -->
            <ul class="header_menu navbar-nav ms-auto mb-2 mb-lg-0 align-items-baseline" >
                <li class="nav-item">
                    <a href="/" class="header_menu__link nav-link text-white d-flex flex-column text-center">
                        <img class="icon-svg_white align-self-center" src="/images/speedometer2-w.svg" alt="">
                        <img class="icon-svg align-self-center" src="/images/speedometer2.svg" alt="">
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/map/all" class="nav-link text-white d-flex flex-column text-center">
                        <img class="icon-svg_white align-self-center" src="/images/map-w.svg" alt="">
                        <img class="icon-svg align-self-center" src="/images/map.svg" alt="">
                        Map
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/" class="nav-link text-white d-flex flex-column text-center">
                        <img class="icon-svg_white align-self-center" src="/images/table-w.svg" alt="">
                        <img class="icon-svg align-self-center" src="/images/table.svg" alt="">
                        Table
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin" class="nav-link text-white d-flex flex-column text-center">
                        <img class="icon-svg_white align-self-center" src="/images/person-circle-w.svg" alt="">
                        <img class="icon-svg align-self-center" src="/images/person-circle.svg" alt="">
                        Personal
                    </a>
                </li>
                <li class="nav-item ml-4" style="margin-left: 20px;">
                    <form th:action="@{/logout}" method="post"></form>
                    <button type="submit" value="Logout" class="nav-link _logout text-white d-flex flex-column text-center">
                        <img class="icon-svg_white align-self-center" src="/images/door-open-w.svg" alt="">
                        <img class="icon-svg align-self-center" src="/images/door-open.svg" alt="">
                        Logout
                    </button>
                </form>
                </li>
            </ul>

            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->


<div id="map" class="h-100"></div>

<script th:inline="javascript">

    const points = /*[[${points}]]*/ "";

    let map;

    function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
        center:{lat: 55.752479,lng: 37.617522},
                zoom: 12
    });
    for (let point of points) {

        let marker = new google.maps.Marker({
            position: {lat: parseFloat(point['lat']), lng: parseFloat(point['lng'])},
            map: map,
            title: point['type'] + "\n" + point["date"],
            url: "/map/" + point["id"]
        });
        google.maps.event.addListener(marker, 'click', function() {
            window.location.href = marker.url;
            });
        }
    }
    initMap();

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>