<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Список повреждений</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" th:href="@{/style.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style type="text/css">
      table{
          height: 100%;
          font-weight: 100%;
      }
  </style>
</head>

<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand align-self-center" href="#">Map detection</i></a>

        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left links -->
            <ul class="header_menu navbar-nav ms-auto mb-2 mb-lg-0" >
                <li class="nav-item">
                    <a href="#" class="header_menu__link nav-link text-white d-flex flex-column text-center">
                        <img class="icon-svg_white align-self-center" src="../static/images/speedometer2-w.svg" alt="map">
                        <img class="icon-svg align-self-center" src="../static/images/speedometer2.svg" alt="map">
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white d-flex flex-column text-center">
                        <img class="icon-svg_white align-self-center" src="../static/images/map-w.svg" alt="map">
                        <img class="icon-svg align-self-center" src="../static/images/map.svg" alt="map">
                        Map
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white d-flex flex-column text-center">
                        <img class="icon-svg_white align-self-center" src="../static/images/table-w.svg" alt="map">
                        <img class="icon-svg align-self-center" src="../static/images/table.svg" alt="map">
                        Table
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white d-flex flex-column text-center">
                        <img class="icon-svg_white align-self-center" src="../static/images/person-circle-w.svg" alt="map">
                        <img class="icon-svg align-self-center" src="../static/images/person-circle.svg" alt="map">
                        Personal
                    </a>
                </li>
            </ul>
            <!-- <div class="d-flex align-items-center">
                <button type="button" class="btn btn-outline-light px-3 me-2">
                    Login
                </button>
                <button type="button" class="btn btn-warning me-3">
                    Sign up
                </button>
            </div> -->
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->


<main class="col-md-9 mr-auto ml-auto col-lg-10 px-md-4" style="margin: 0 auto; margin-top: 100px;"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <!-- <div class="btn-group me-2">
              <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div> -->
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar align-text-bottom" aria-hidden="true"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                This week
            </button>
        </div>
    </div>

    <div style="max-width: 300px; max-height: 300px; margin-bottom: 80px;">
        <canvas id="pieChart" style="display: block; margin-bottom: 40px;" height="500" width="600"></canvas>
        <div class="mt-6 mb-4 d-flex justify-content-between">
            <div class="done">Сделано</div>
            <div class="in_work">В работе</div>
            <div class="wait">Ожидает</div>
        </div>
    </div>

    <h2>Section title</h2>
    <div class="table-responsive">
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
            <tr>
                <th>Номер</th>
                <th>Широта</th>
                <th>Долгота</th>
                <th>Адрес</th>
                <th>Срок</th>
                <th>Тип повреждения</th>
                <th>Картинка</th>
                <th>Статус</th>
                <th>посмотреть</th>

                <th>Готово</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="point :${points}">
                <td><p th:text="${point.id}"/></td>
                <td><p th:text="${point.lat}"/></td>
                <td><p th:text="${point.lng}"/></td>
                <td><p th:text="${point.address}"/></td>
                <td><p th:text="${point.date}"/></td>
                <td><p th:text="${point.type}"/></td>
                <td>
                    <div class="d-flex align-items-center">
                        <img
                                th:src="${point.image_path}"
                                alt=""
                                style="width: 45px; height: 45px"
                        />
                    </div>
                </td>
                <td th:switch="${point.status}">
                    <span th:case="готово" class="badge badge-success done rounded-pill d-inline" th:text="${point.status}"></span>
                    <span th:case="ожидает" class="badge badge-success in_work rounded-pill d-inline" th:text="${point.status}"></span>
                    <span th:case="посрочено" class="badge badge-success wait rounded-pill d-inline" th:text="${point.status}"></span>
                </td>

<!--                <td><p th:text="${point.status}"/></td>td-->
                <td><a th:href="'/map/' + ${point.id}">Перейти</a></td>
            </tr>
            <tr>
                <td>
                    <p class="fw-normal mb-1">252111</p>
                </td>

                <td>
                    <p class="fw-normal mb-1">123.425.241'214''124</p>
                </td>

                <td>
                    <p class="fw-normal mb-1">123.425.241'214''124</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">Авиамотрная 28к2</p>
                </td>

                <td>
                    <p class="fw-normal mb-1">8 недель</p>
                </td>

                <td>
                    <p class="fw-normal mb-1">тип 3</p>
                </td>

                <td>
                    <div class="d-flex align-items-center">
                        <img
                                src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                                alt=""
                                style="width: 45px; height: 45px"
                        />
                    </div>
                </td>

                <td>
                    <span class="badge badge-success wait rounded-pill d-inline">Awaiting</span>
                </td>

                <td>
                    <button type="button" class="btn btn-info w-100">Посмотреть</button>
                </td>

                <td>
                    <button type="button" class="btn btn-success ">Сделано</button>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</main>

<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Dashboard</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Map</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Table</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Personal</a></li>
        </ul>
        <p class="text-center text-muted">© 2022 Company, Inc</p>
    </footer>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src='../static/js/chart.js'></script>
</body>
</html>